/* Основные настройки */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #302f2f;
}

/* Шапка */
header {
    background-color: #353434;
    color: white;
    text-align: center;
    padding: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

header nav a:hover {
    text-decoration: underline;
}

/* Основной контент */
main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

section {
    margin-bottom: 30px;
}

/* Кнопка */
button {
    background-color: #0078d7;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005fa3;
}

/* Футер */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
}
